:root {
  --theme-softblue: hsl(215, 51%, 70%);
  --theme-cyan: hsl(178, 100%, 50%);
}

* {
  box-sizing: border-box;
  font-family: 'Outfit';
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  border: none;
}

body {
  background-color: hsl(217, 54%, 11%);
}

main {
  background-color: hsl(216, 50%, 16%);
  width: 350px;
  height: 600px;
  padding: 25px;
  margin: 25px auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.crypto-image {
  border-radius: 10px;
}

p {
  font-size: 18px;
  color: var(--theme-softblue);
}

span {
  color: var(--theme-softblue);
}

h1 {
  font-size: 24px;
  color: white;
}

strong {
  color: white;
}

.price-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  color: var(--theme-cyan);
}

hr {
  border: 1px solid hsl(215, 32%, 27%);
}

.author {
  display: flex;
  align-items: center;
}

.author img {
  width: 30px;
  border: solid 1px white;
  border-radius: 15px;
  margin-right: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--theme-softblue);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}