:root {
  --theme-softblue: hsl(215, 51%, 70%);
  --theme-cyan: hsl(178, 100%, 50%);
}

* {
  box-sizing: border-box;
  font-family: 'Outfit';
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  border: none;
}

body {
  background-color: hsl(217, 54%, 11%);
}

main {
  background-color: hsl(216, 50%, 16%);
  width: 335px;
}

p {
  font-size: 18px;
  color: var(--theme-softblue);
}

h1 {
  font-size: 24px;
  color: white;
}

strong {
  color: white;
}

.price {
  color: var(--theme-cyan);
}

hr {
  border: 1px solid hsl(215, 32%, 27%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}